<div class="container">
    <div class="card" style="width: 30em" *ngFor="let user of users">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center">{{user.firstname}} {{user.lastname}} ({{user.userid}})</h3>
        <div class="row" style="padding-top:2em">
          <div class="col">
            <b>Address:</b>
          </div>
          <div class="col" style="text-align:right">
            <p>{{user.addressLineOne}} {{user.addressLineTwo}}</p>
            <p>{{user.city}}, {{user.state}} {{user.zip}}</p>
            <p>{{user.country}}</p>
          </div>
        </div>
        <div class="row" style="padding-top:2em">
          <div class="col">
            <b>Phone:</b>
          </div>
          <div class="col" style="text-align:right">
            {{user.phone}}
          </div>
        </div>
        <div class="row" style="text-align:center; padding-top:2em">
          <div class="col">
            <a href="#" class="btn btn-primary">Update</a>
          </div>
          <div class="col">
            <a href="#" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
</div>